<template id="poll-response-template">		
    <div class="response-container"  data-theme="dark-text">        
        <!-- Number circle -->
        <div class="response-index">1</div>

        <!-- Content -->
        <div class="response-except-just-the-shit-on-the-right-side">				            
            <!-- Response bar -->
            <div class="response-bar-track">
                <div class="response-title"></div>
                <div class="response-votes"><span class="response-vote-percentage">0</span>% (<span class="response-vote-count"></span>)</div>
                <div class="response-bar-fill" id="response-bar-total"></div>
            </div>
        </div>
    </div>
</template>