body {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin: 1em;
}

#broadcast-list {
    display: flex;
	flex-direction: column;
	gap: 0.5em;
}

button {
	gap: 0.5em;
}

.broadcast {
	background-color: var(--dialog-background);
	border: 1px solid #40404080;
	border-radius: 0.5em;
	padding: 0.2em 0.5em;
	
    display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
}

.broadcast-info {
    display: flex;
	flex-direction: column;
}

#broadcast-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: auto;
}

.platform-icon {
	height: 2em;
}

.button-icon {
	height: 1em;
}

.flip-that-shit-homie {
	/* Flip that bad boy */
	transform: scaleX(-1);
}

.blur {
	display: none;
}

.dialog {
	display: none;
	width: 90%;
	max-height: 80%;
	overflow-y: auto;
}

.setting-attribute {
	color: yellow;
}

#kick-warning {
	display: none;
}

#youtube-warning  {
	display: none;
}