* {
	margin: 0;
	padding: 0;
	--margin: 20px;
	--border-radius: 0.5em;
	/* --line-spacing: 1.7em; */
}

body {
	overflow: hidden;
}

html {
	width: 100vw;
	height: 100vh;
	scroll-behavior: smooth;
	/* background: #000000d9; */
	font-size: 30px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	overflow-wrap: break-word;
}

#statusContainer {
	font-weight: 500;
	font-size: 30px;
	text-align: center;
	background-color: #D12025;
	color: white;
	padding: 10px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#mainContainer {
	position: absolute;
	height: calc(100% - 2 * var(--margin));
	width: calc(100% - 2 * var(--margin));
	margin: var(--margin);
}

#messageList {
	position: absolute;
	left: 0;
	width: 100%;
}

.normalScrollDirection {
	bottom: 0;
}

.reverseScrollDirection {
	display: flex;
	top: 0;
	flex-direction: column-reverse;
}

li {
	list-style: none;
	overflow: hidden;
	max-height: 0;
	margin: 10px 0px 0px 0px;
	transition: all 1s ease-in-out;
}

.reverseLineItemDirection {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.slide-fade li {
	transition: all var(--animation-speed) ease-out;
	/* opacity: 0; */
}

.slide-fade li.show {
	/* opacity: 1; */
}

#IPutThisHereSoICanCalculateHowBigEachMessageIsSupposedToBeBeforeIAddItToTheMessageList {
	opacity: 0;
}

#firstMessage,
#sharedChat {
	display: none;
	font-weight: 500;
	font-size: 0.7em;
}

.highlightMessage {
	background: #adadad46;
	padding: 0.5em 1em;
	border-radius: var(--border-radius);
}

.message-contents {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

#avatar {
	width: 2em;
}

.avatar {
	height: 2em;
	margin: 1px;
	transform: translate(0px, 0.25em);
	border-radius: 50%;
}

.timestamp,
.pronouns {
	background: #adadad46;
	/* border-radius: var(--border-radius); */
	border-radius: 1em;
	font-size: 0.7em;
	/* padding: 5px 15px; */
	padding: 0.15em 0.5em;
}

.bits {
	background: #adadad46;
	border-radius: calc(var(--border-radius) / 2);
	font-size: 0.7em;
	padding: 5px 10px;
}

.platform,
.badge {
	height: 1em;
	margin: 1px;
	transform: translate(0px, 0.25em);
}

.emote {
	height: 1.5em;
	margin: 1px;
	transform: translate(0px, 0.4em);
}

.productImage {
	height: 15em;
	border-radius: 0.25em;
	transform: translate(0px, 0.25em);
}

.centerThatShitHomie {
	display: inline-block;
	width: 100%;
	text-align: center;
}

#badgeList {
	margin: 0px 5px;
}

#username,
#title {
	font-weight: 700;
}

.title {
	font-weight: 700;
}

#reply {
	display: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.7em;
	opacity: 0.5;
}

#message {
	font-weight: 400;
	line-height: var(--line-spacing);
}

#card {
	background: #adadad46;
	padding: 0.5em 1em;
	border-radius: var(--border-radius);
}

#youtubeSuperSticker {
	display: block;
}

#sticker-img {
	height: 5em;
}

#stickerLabel {
	text-align: center;
	font-weight: 700;
}

.tiktok-gift {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
	padding: 0.5em 1em;
	border-radius: var(--border-radius);
	max-width: 100%;
	background: linear-gradient(#262626BF, #000000BF) !important;
}

.tiktok-gift-avatar {
	height: 3em;
	margin: 1px;
	border-radius: 50%;
	justify-content: left;
	flex-shrink: 0;
}

.tiktok-gift-message {
	flex-grow: 1;
	white-space: nowrap;		/* keeps text in a single line */
	overflow: hidden;			/* hides overflowed content */
	text-overflow: ellipsis;	/* adds the "..." at the end */
}

.tiktok-gift-sticker {
	height: 2.5em;
	flex-shrink: 0;
	justify-content: flex-end;
}

#tiktok-gift-repeat-count {
	justify-content: flex-end;
	font-size: 1.5em;
	font-style: italic;
	font-weight: 500;
}

/*****************/
/** CARD COLORS **/
/*****************/

.announcementBlue {
	background: linear-gradient(#03d3d7BF, #8d49feBF) !important;
}

.announcementGreen {
	background: linear-gradient(#01da86BF, #55bee4BF) !important;
}

.announcementOrange {
	background: linear-gradient(#feb419BF, #e1df00BF) !important;
}

.announcementPurple {
	background: linear-gradient(#9548ffBF, #fc74e6BF) !important;
}

.twitch {
	background: linear-gradient(#6d5ca1bf, #9146ffBF) !important;
}

.youtube {
	background: linear-gradient(#FF6C60BF, #FF0707BF) !important;
}

.kick {
	background: linear-gradient(#53fc18BF, #005600BF) !important;
}

.streamlabs {
	background: linear-gradient(#73dabbbf, #397765bf) !important;
}

.streamelements {
	background: linear-gradient(#263b8abf, #0a112abf) !important;
}

.patreon {
	background: linear-gradient(#c76633bf, #fd5e0abf) !important;
}

.kofi {
	background: linear-gradient(#54c7eebf, #08c2ffbf) !important;
}

.tipeeeStream {
	background: linear-gradient(#120e23bf, #5d192abf) !important;
}

.fourthwall {
	background: linear-gradient(#466edbbf, #1c56f5bf) !important;
}

.tiktok {
	background: linear-gradient(#262626BF, #000000BF) !important;
}

.blank {
	background: #adadad00 !important;
}

/****************/
/** ANIMATIONS **/
/****************/

.statusConnected {
	animation-name: statusConnected;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.statusDisconnected {
	animation-name: statusDisconnected;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes statusConnected {
	0% {
		opacity: 1;
		background-color: #2FB774;
	}

	100% {
		opacity: 0;
		background-color: #2FB774;
	}
}

@keyframes statusDisconnected {
	0% {
		background-color: #D12025;
	}

	100% {
		background-color: #D12025;
	}
}