* {
	margin: 0;
	padding: 0;
	--margin: 0.5em;
	--border-radius: 1em;
	/* font-size: 30px; */
	/* --line-spacing: 1.7em; */
}

body {
	overflow: hidden;
}

html {
	width: 100vw;
	height: 100vh;
	scroll-behavior: smooth;
	/* background: #000000d9; */
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	overflow-wrap: break-word;
}

#statusContainer {
	font-weight: 500;
	font-size: 30px;
	text-align: center;
	background-color: #D12025;
	color: white;
	padding: 10px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#mainContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: calc(2 * var(--margin));
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	/* justify-content: flex-end; */
}

#alertBox {
	padding: 0.5em;
	border-radius: 0.75em;
	filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 1));
	position: relative;
	overflow: hidden;
	opacity: 0;
}

#theContentThatShowsFirstInsteadOfSecond {
	z-index: 1;
	transition: inherit;
	display: none;
	position: absolute;
	width: calc(100% - 1em);
	box-sizing: border-box;
}

#theContentThatShowsLastInsteadOfFirst {
	display: inline-block;
	align-items: center;
	z-index: 0;
	transition: inherit;
	display: none;
	width: 100%;
}

#avatar {
	display: block;
	height: 4em;
	filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.5));
}

#avatarButItsSmallerThanTheOneFromBeforeForPrettinessPurposes {
	display: inline;
	max-width: 100%;
	height: 2em;
	filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.5));
	object-fit: cover;
}

#theContentThatShowsFirstInsteadOfSecondContent {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.75em;
	width: 100%;
	box-sizing: border-box;
}

.contents {
	/* background: red; */
	text-align: var(--text-align);
}

#username {
	font-size: 1.2em;
	font-weight: 600;
}

#usernameTheSecond {
	font-size: 1em;
	font-weight: 600;
}

#description {
	font-size: 1em;
	font-weight: 400;
}

#attribute {
	font-size: 0.8em;
	font-weight: 400;
}

.profilePic {
	border-radius: 50%;
}

.square {
	border-radius: 0.5em;
}

.emote {
	height: 1.5em;
	margin: 1px;
	transform: translate(0px, 0.4em);
}

.bits {
	background: #adadad46;
	border-radius: calc(var(--border-radius) / 2);
	font-size: 0.7em;
	padding: 5px 10px;
}

#message {
	width: calc(100% - 2 * var(--margin));
	z-index: 0;
	left: var(--margin);
	top: var(--margin);
	transition: inherit;
	font-style: italic;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}@keyframes slide-in-from-top {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-from-top {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-out-top {
	0% {
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		transform: translateY(-100%);
		opacity: 0;
	}
}

@keyframes slide-in-from-bottom {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-out-bottom {
	0% {
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		transform: translateY(100%);
		opacity: 0;
	}
}

@keyframes slide-in-from-left {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-out-left {
	0% {
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes slide-in-from-right {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-out-right {
	0% {
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		transform: translateX(100%);
		opacity: 0;
	}
}

/*****************/
/** CARD COLORS **/
/*****************/

.announcementBlue {
	background: linear-gradient(#03d3d7BF, #8d49feBF) !important;
}

.announcementGreen {
	background: linear-gradient(#01da86BF, #55bee4BF) !important;
}

.announcementOrange {
	background: linear-gradient(#feb419BF, #e1df00BF) !important;
}

.announcementPurple {
	background: linear-gradient(#9548ffBF, #fc74e6BF) !important;
}

.twitch {
	background: linear-gradient(#6d5ca1bf, #9146ffBF) !important;
}

.youtube {
	background: linear-gradient(#FF6C60BF, #FF0707BF) !important;
}

.streamlabs {
	background: linear-gradient(#73dabbbf, #397765bf) !important;
}

.streamelements {
	background: linear-gradient(#263b8abf, #0a112abf) !important;
}

.patreon {
	background: linear-gradient(#c76633bf, #fd5e0abf) !important;
}

.kofi {
	background: linear-gradient(#54c7eebf, #08c2ffbf) !important;
}

.tipeeeStream {
	background: linear-gradient(#120e23bf, #5d192abf) !important;
}

.fourthwall {
	background: linear-gradient(#466edbbf, #1c56f5bf) !important;
}

.blank {
	background: #adadad00 !important;
}

.highlightMessage {
	background: #adadad46;
}

.customBackground {
	background: var(--custom-background);
}

/****************/
/** ANIMATIONS **/
/****************/

.statusConnected {
	animation-name: statusConnected;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.statusDisconnected {
	animation-name: statusDisconnected;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes statusConnected {
	0% {
		opacity: 1;
		background-color: #2FB774;
	}

	100% {
		opacity: 0;
		background-color: #2FB774;
	}
}

@keyframes statusDisconnected {
	0% {
		background-color: #D12025;
	}

	100% {
		background-color: #D12025;
	}
}