#chat .event.youtube .message {
    background: rgba(255,0,0,0.75);
}

#chat .event.youtube.sticker .header {
    padding: 5px 0;
    text-align: center;
}
#chat .event.youtube.sticker .header img {
    height: 128px;
}

#chat .item.kick .platform .hidden-platform {
    background: rgba(255,0,0,1);
}



#chat .item.youtube span.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    color: #FFF;
    background: rgba(255,255,255);
    width: 22px;
    height: 22px;
    font-size: 12px;
    border-radius: 3px;
    margin: 0 1px;
}

#chat .item.youtube span.badge.owner {
    background: #FF0000;
}

#chat .item.youtube span.mod {
    background: #5e84f1;
}

#chat .item.youtube span.member {
    background: #2ba640;
}

#chat .item.youtube span.verified {
    background: #aaa;
}

#chat .item.youtube.streamer .user {
    background: #ffd600;
    color: #121212 !important;
    text-shadow: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    padding: 0 5px;
    border-radius: 5px;
}

#chat .item.youtube.sub .user {
    color: #2ba640 !important;
}

#chat .item.youtube.mod .user {
    color: #5e84f1 !important;
}

#chat .item.youtube .platform .hidden-platform {
    background: #FF0000;
}

#statistics .platform.youtube {
    background: #FF0000;
    position: relative;
    order: 2;
}

#statistics .platform.youtube .stream {
    background: rgba(0,0,0,0.25);
    color: #FFF;
    padding: 2px 10px;
    border-radius: 100px;
}

#statistics .platform.youtube .title {
    position: absolute;
    bottom: 0;
    left: 50%;
    background: rgba(0,0,0,0.5);
    width: 95%;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    transform: translate(-50%, 100%);
    font-weight: normal;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block
}

#statistics .platform.youtube#youtube .title {
    display: none;
} 


.msm-platform.red { background: rgba(255,0,0,0.75); }