body {
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	text-align: center;
	color: white;

	background-color: #282828;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

label {
	font-weight: 600;
}

button {
	font-size: 1em;
	font-weight: 500;
	background-color: #3be477;
	color: white;
	opacity: 0.8;
	border-width: 0;
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	width: 100%;
}

button:hover {
	opacity: 1;
	cursor: pointer;
}

button:disabled {
	opacity: 0.5;
	cursor: inherit;
}

input {
	border-radius: 0.5em;
	width: calc(100% - 20px);
	margin: 10px 0px;
	padding: 10px 10px;
	background-color: #ffffff05;
	border-width: 0px;
	color: white;
	font-size: 1em;
}

input:disabled {
	opacity: 0.5;
}

textarea:focus, input:focus {
    outline: none;
}

#connect-box {
	font-size: 24px;
	background-color: #181818;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 2em;
	border-radius: 0.5em;
}

.field {
	display: flex;
	flex-direction: column;
}

#header {}

#avatar {
	height: 6em;
	border-radius: 50%;
	object-fit: cover;
	overflow: hidden;
}

#title {
	font-weight: 900;
	font-size: 1.5em;
	text-transform: uppercase;
}

#subtitle {
	font-weight: 700;
	font-size: 1.2em;
}

#attribute {
	padding: 0.5em 0em;
}

#content {
	/* border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: none;
	border-right: none;
	margin: 1em 0em; */
	padding: 0.5em 0em;
}

#icon {
	height: 1em;
}

#date {
	margin: 0.5em 0em;
	font-size: 0.7em;
	text-transform: uppercase;
}

#footer {}

.emote {
	height: 1em;
}